{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{% static "images/marlabs-icon.png" %}" alt="OneConsole, Service and Operations Management. Business Service Management."/></a><h1> <span>Immigration</span> - Marlabs Legal Department</h1>
     
    </div> 
    
  </div>
</nav>


  <div class="col-md-12">
    Your password has been changed successfully. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </div>
{% endblock %}