{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{% static "images/marlabs-icon.png" %}" alt="OneConsole, Service and Operations Management. Business Service Management."/></a><h1> <span>Immigration</span> - Marlabs Legal Department</h1>
     
    </div>
    
    
  </div>
</nav>

  <div class="container text-center">
    <div class="col-sm-12">
      {% if form.email.errors %}
        <span class="text-danger">
                {% for error in form.email.errors %}{{ error }}{% endfor %}
        </span>
      {% endif %}
    </div>

  	


 <div class="container text-center">
  <form method="post">
  <div class="col-md-12">
        <h3>Reset Password</h3>
   </div>
  <div class="col-sm-4 forgt-pwd">
    <div class="col-md-12">
      {% if messages %}
      <div class='form-errors text-success'>
        {% for message in messages %}
          <span>{{ message }}</span>
      {% endfor %}
      </div>
      {% endif %}
    
    </div>
    {% if validlink = False %}
    <div class="col-md-12">
      
      <div class='form-errors text-error'>
          <span>The link you are trying to access has expired, please generate another link to change password</span>
      </div>
      
    
    </div>
    {% else %}
    <div class="col-md-12">
      <label>New password</label>
    
      {{ form.new_password1 }}

      {% if form.new_password1.errors %}
        <span class="text-danger">
                {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
        </span>
      {% endif %}
    </div>
    
      
    

    <div class="col-md-12">
      <label>Confirm new password</label>
    
      {{ form.new_password2 }}

      {% if form.new_password2.errors %}
        <span class="text-danger">
                {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
        </span>
      {% endif %}
    </div>
  {% csrf_token %}

    
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
    {% endif %}

  </div>
  </form>
  </div>
   

	
  </div>
  
{% endblock body %}




