{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <style type="text/css">
        .valid{
            color: #000;
        }
    </style>
  {% endblock %}

{% block body %}
<body>

 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{% static "images/marlabs-icon.png" %}" alt="OneConsole, Service and Operations Management. Business Service Management."/></a><h1> <span>Immigration</span> - Marlabs Legal Department</h1>
     
    </div> 
    
  </div>
</nav>
 <!-- header ENDS-->

 {% if messages %}
<div class="alert alert-success custom-alert messages alert-dismissable">
 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<!-- Content -->
 <div class="container">
    <div class="col-md-6">
        <h3 class="page-heading">Case documents</h3>
    </div>
    <div class="col-md-1 pull-right">
    <a href="/home"><button type="button" class="btn btn-primary">Back</button></a>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered custom-tbl">
        <tr>
          <th>Name</th>
          <th>To</th>
          <th>Subject</th>
          <th>Email CC</th>
        </tr>
        <tr>
        {% if employee.name == None %}
          <td></td>
        {% else %}
          <td>{{ employee.name }}</td>
        {% endif %}
          <td>{{ employee.email }} </td>
          <td>{{ employee.subject }}</td>
          <td>{{ employee.email_copy }}</td>
         
        </tr>
      </table>
    </div>
   
    
    
    <table class="table table-bordered custom-tbl">
            <thead>
              <tr>
                <th>Document</th>
                <th>Required/Optional</th>
                <th>Submitted/Not submitted</th>
              </tr>
            
            </thead>
            <tbody>
            {% for document in documents %}

            
              <tr>
              <input type="hidden" name="document" value="{{ document.pk }}">
              {%  if document.status == True %}
                <td>
                    <a href="{{ media_url }}{{ document.file }}" target="_blank">
                    <!-- <a href="/getfile?{{ document.file }}" target="_blank"> -->
                    {{ document.document }}
                    </a>
                </td>
                {% else %}
                <td>
                    {{ document.document }}
                    
                </td>
                {% endif %}
                {%  if document.required == True %}
                 <td><span class="label label-danger">Required</span></td>
                {% else %}
                    <td><span class="label label-info">Optional </span></td>
                {% endif %}

                {%  if document.status == True %}
                 <td>
                    <span class="label label-success"> Submitted </span>
                </td>
                {% else %}
                    <td><span class="label label-warning">Not submitted</span></td>
                {% endif %}
                
              </tr>

            {% endfor %}
            </tbody>
            
        </table>

 </div>


<div id="upload_complete" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    
     
      </div>
      
    </div>

  </div>
</div>

{% endblock body %}
 
 
<!-- Content ENDS -->

{% block footer %}

<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    $('.datepicker').datepicker({
    	autoclose: true,
    	format: "dd/mm/yyyy"
    });
});
</script>
{% endblock footer %}
