{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "css/wizard.css" %}" rel="stylesheet">
    <style type="text/css">
        .valid{
            color: #000;
        }
    </style>
  {% endblock %}

{% block body %}
<body>

 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{% static "images/marlabs-icon.png" %}" alt="OneConsole, Service and Operations Management. Business Service Management."/></a><h1> <span>Immigration</span> - Marlabs Legal Department</h1>
     
    </div> 
    
  </div>
</nav>
 <!-- header ENDS-->

 {% if messages %}
<div class="alert alert-success custom-alert messages alert-dismissable">
 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
 
 {% if error ==  1 %}
 <div class="alert alert-info custom-alert alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Invalid authorization or token expired.
</div>
{% if authenticated == 1 %}
    <div class="container">
        <div class="col-md-12 pull-right">
        <a href="/home"><button type="button" class="btn btn-primary">Home</button></a>
        </div>
    </div>
{% endif %}
{% else %}

<div class="container">
  <div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" >
                        <a href="#step1" class="disabled" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-upload"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="active">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-check"></i>
                            </span>
                        </a>
                    </li>
                    

                    
                </ul>
            </div>

            
                <div class="tab-content">
               
                    <div class="tab-pane " role="tabpanel" id="step1">
                        
                        <div class="row">
                          <div class="col-md-6">
                              <h3 class="page-heading">Case documents</h3>
                          </div>
                          {% if authenticated == 1 %}
                          <div class="col-md-5">
                              <h3>{{ employee_email }}</h3>
                          </div>
                          <div class="col-md-1 pull-right">
                          <a href="/home"><button type="button" class="btn btn-primary">Back</button></a>
                          </div>
                          {% endif %}
                        </div>

                        <div class="row">
                        <form id="documentform" enctype="multipart/form-data" action="/document" method="post" class="form-horizontal">
                          <div class="col-md-12">
                           
                              {% csrf_token %}
                              <input type="hidden" name="pk" id="pk" value="{{ data.pk }}">
                              {{ form.non_field_errors }}
                                  <table class="table table-bordered custom-tbl">
                                      <thead>
                                        <tr>
                                          <th>Document</th>
                                          <th>Required/Optional</th>
                                          <th>Submitted/Not submitted</th>
                                      {% if authenticated == 0 %}
                                          <th>Upload</th>
                                      {% endif %}
                                        </tr>
                                      
                                      </thead>
                                      <tbody>
                                      {% for document in documents %}
                                        <tr>
                                        <input type="hidden" name="document" value="{{ document.pk }}">
                                        {%  if document.status == True %}
                                          <td>
                                              <a href="{{ media_url }}{{ document.file }}" target="_blank">
                                              {{ document.document }}
                                              </a>
                                          </td>
                                          {% else %}
                                          <td>
                                              {{ document.document }}
                                              
                                          </td>
                                          {% endif %}
                                          {%  if document.required == True %}
                                           <td><span class="label label-danger">Required</span></td>
                                          {% else %}
                                              <td><span class="label label-info">Optional </span></td>
                                          {% endif %}

                                          {%  if document.status == True %}
                                           <td>
                                              <span class="label label-success"> Submitted </span>
                                          </td>
                                          {% else %}
                                              <td><span class="label label-warning">Not submitted</span></td>
                                          {% endif %}
                                          {% if authenticated == 0 %}
                                          <td><input type="file" name="upload_document_{{ document.pk }}"></td>
                                          {% endif %}
                                        </tr>

                                      {% endfor %}


                                      </tbody>
                                      
                                  </table>
                              
                          </div>
                        </div>

                        <ul class="list-inline pull-right">
                            <li><button type="submit" id="save_document" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                        </form>
                    </div>
                   
                    <div class="tab-pane active" role="tabpanel" id="step2">
                   
                        <div class="row">
                          <h4>Please verify the uploaded documents and complete the process</h4>
                          
                          <form action="/confirmrequest" method="post" class="form-horizontal">
                          <div class="col-md-12">
                              {% csrf_token %}
                              <input type="hidden" name="pk" id="pk" value="{{ data.pk }}">
                              {{ form.non_field_errors }}
                                  <table class="table table-bordered custom-tbl">
                                      <thead>
                                        <tr>
                                          <th>Document</th>
                                          <th>Required/Optional</th>
                                          <th>Submitted/Not submitted</th>
                                     
                                        </tr>
                                      
                                      </thead>
                                      <tbody>
                                      {% for document in documents %}
                                        <tr>
                                        <input type="hidden" name="document" value="{{ document.pk }}">
                                        {%  if document.status == True %}
                                          <td>
                                              <a href="{{ media_url }}{{ document.file }}" target="_blank">
                                              {{ document.document }}
                                              </a>
                                          </td>
                                          {% else %}
                                          <td>
                                              {{ document.document }}
                                              
                                          </td>
                                          {% endif %}
                                          {%  if document.required == True %}
                                           <td><span class="label label-danger">Required</span></td>
                                          {% else %}
                                              <td><span class="label label-info">Optional </span></td>
                                          {% endif %}

                                          {%  if document.status == True %}
                                           <td>
                                              <span class="label label-success"> Submitted </span>
                                          </td>
                                          {% else %}
                                              <td><span class="label label-warning">Not submitted</span></td>
                                          {% endif %}
                                          
                                        </tr>

                                      {% endfor %}


                                      </tbody>
                                      
                                  </table>
                              
                          </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="submit" class="btn btn-primary next-step">Finish</button></li>
                        </ul>               
                      </form>      
                   </div>
                </div>
            </div>
    </section>
   </div>
</div>

{% endif %}


{% endblock body %}
 
 
<!-- Content ENDS -->



	{% block footer %}

	<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

	
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    $('.datepicker').datepicker({
    	autoclose: true,
    	format: "dd/mm/yyyy"
    });



    // $("#save_document")

    $("#documentform").validate({
        errorClass: "error-class",
    	rules : {
            {% for document in documents %}
        upload_document_{{ document.pk }}: {
            {% if document.required == True and document.status == False %}
                required: true,
            {% else %}
                required:false,
            {% endif %}
                accept:'jpeg,jpg,png,pdf',
                 filesize: 10485760, 
            },
            
            {% endfor %} 
		},
		messages: {
            {% for document in documents %}
			upload_document_{{ document.pk }}: "File must be JPG, PNG or PDF ,less than 10MB" ,
            {% endfor %}
		}
    });

    $.validator.addMethod('filesize', function(value, element, param) {
        // param = size (en bytes) 
        // element = element to validate (<input>)
        // value = value of the element (file name)
        return this.optional(element) || (element.files[0].size <= param) 
    });

    


});



$(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);
    
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>
{% endblock footer %}
