{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


 {% block main %}
 <div class="container">
   <div class="col-md-12">
      <a href="/home" class="pull-right"><button type="button" class="btn btn-primary">Home</button></a>
   </div>

 <div class="container immigration-doc">

 <ul class="nav nav-tabs">
  <li ><a href="/profile" class="doc-pending"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  My Profile</a></li> 
  <li class="active"><a data-toggle="tab" href="#changepwd" class="doc-pending"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a></li>
  </ul>

<div class="tab-content documents-status">
  
  <div id="changepwd" class="tab-pane in active">
 <div class="row"> 
 <div class="col-md-12">
        <h4><i class="fa fa-unlock-alt" aria-hidden="true"></i>
 Change Password</h4>
    <hr/>
   </div>


   
<div class="col-md-12">
<div class="col-md-12">
 <form id="documentform" action="/password" method="post" class="form-horizontal">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class='form-errors text-danger'>
        {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class='form-errors text-{% if message.tags %}{{ message.tags }}{% endif %}'>
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    {% endif %}
  
  <div class="row">
        
         <div class="col-sm-2 col-md-2">
          <div class="form-group">
            <label>User Name</label>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <span>{{ user.username }}</span>
            
          </div>
        </div>
    </div>

    <div class="row">
        
         <div class="col-sm-2 col-md-2">
          <div class="form-group">
            <label>Old password</label>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
             {{ form.old_password }}
          </div>
        
        </div>
        <div class="col-sm-6">  {% if form.old_password.errors %}
              <span class="text-danger">
                {% for error in form.old_password.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}</div>
    </div>

    <div class="row">
        
         <div class="col-sm-2 col-md-2">
          <div class="form-group">
            <label>New password</label>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            {{ form.new_password1 }}
          </div>
        
        </div>
         <div class="col-sm-6">  {% if form.new_password1.errors %}
              <span class="text-danger">
                {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}</div>
    </div>

    <div class="row">
        
         <div class="col-sm-2 col-md-2">
          <div class="form-group">
            <label>Confirm new password</label>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            {{ form.new_password2 }}
          </div>
          
        </div>
        <div class="col-sm-6"> {% if form.new_password2.errors %}
              <span class="text-danger">
                {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}</div>
    </div>

    <div class="row"> <br/>
     
        <button type="submit" class="btn btn-primary">Update Password</button>    
        <button type="reset" class="btn btn-default">Cancel</button>
      
    </div>

    </form>
    
</div>
   
</div>

 </div>

  </div>

  </div>

</div>
</div>

       


        
  
{% endblock main %}
